In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("loan_data.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,CoapplicantIncome
0,LP001003,Male,Yes,1,Graduate,No,4583,128,2,1.0,Rural,N,1508.0
1,LP001004,Male,Yes,0,Graduate,Yes,3000,66,2,1.0,Urban,Y,0.0
2,LP001005,Male,Yes,0,Not Graduate,No,2583,120,2,1.0,Urban,Y,2358.0

In [4]:
min_r=dataset["LoanAmount"].min()
max_r=dataset["LoanAmount"].max()

In [5]:
min_r,max_r

(17, 5090)

In [7]:
range=max_r-min_r
range

5073

In [8]:
range

5073